.DS_Store
dist/
outputs/
work/
*.p12
*.pfx
*.pem
*.key
password.txt
device-profile.xml
author-signature.xml
signature1.xml
__pycache__/
*.py[cod]
android-tv/.gradle/
android-tv/.idea/
android-tv/local.properties
android-tv/**/build/
android-tv/*.iml
